<div class="page-title"><h1>WELCOME TO STUDYBUDDY</h1>

<h2>The world's #1 Student app!</h2>
<p>Use this app to connect with other students taking the same courses as you!</p>
<ul>
    <li>Follow your classmates</li><br>
    <li>See who did well in courses you need help in</li><br>
    <li>Don't see one of your school's courses? Assign it through the app! </li><br>
</ul>
<strong>Guaranteed to help you ace your classes!</strong>
</div>