/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

h1 {
    color: blue;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    /* height: 8vh; */
    background-color:pink;
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    /* border: 1px solid white; */
}

nav ul {
    /* display: flex; */
    width: 100vw; 
}

.first-tab {
    display: flex;
    float: left;
    padding: 10px;
    align-items: center;
    
}

.nav-tabs {
    display: flex;
    float: left;
    padding: 10px;
    align-items: center;
    /* justify-content: space-between; */
}

.right-links {
    display: flex;
    float: right;
    padding: 10px;
    align-items: center;
    /* border: solid; */
}

.left-links {
    display: flex;
    float: left;
    padding: 10px;
    align-items: center;
}

.container {
    display: flex;
    
    /* justify-content: space-around; */
}

.search-bar-box {
    flex: 25%;
}

.search-result-box {
    flex: 75%;
}

.page-title {
    /* padding-bottom: 50px; */
    /* padding-left: 50px; */
    padding-left: 35vw;
}

.page-content {
    /* padding-top: 100px; */
    /* float: center; */
    /* position: center; */
    /* justify-content: center; */
    /* left: 0; */
    
    /* position: absolute; */
    /* top: 50%; */
    /* width: 100%; */
    text-align: left;
    /* padding-left: 60px; */
    /* font-size: 18px; */
    
}

body {
    padding-top: 100px;
}

.student-page {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 100vw;
    height: 100vh;
    }
    
.student-info { padding-left: 300px; grid-area: 1 / 1 / 2 / 3; }
.student-img { padding-right: 300px; grid-area: 1 / 3 / 2 / 5; }
.followers {padding-left: 300px; grid-area: 2 / 1 / 3 / 3; }
.following {padding-right: 300px; grid-area: 2 / 3 / 3 / 5; }
.current-courses {padding-left: 300px; grid-area: 3 / 1 / 4 / 3; }
.completed-courses {padding-right: 300px; grid-area: 3 / 3 / 4 / 5; }

.student-img img {
    width: 300px;
    height: 250px;
}

input[type=submit] {
    width: 20em;  height: 2em;
}